<div style="padding: 2rem 2rem 2rem 2rem;">
    <div class="card">
        <div class="card-body">
            <!-- Search Details will come here -->
            <div class="row" style="display: grid; place-items: center;">
                <div class="col-lg-8">
                    <!-- <label for="enterName">Search Rewards Details:</label>
                    <input type="search" class="form-control" placeholder="Search your rewards details..."> -->
                    <div class="input-group">  
                        <div class="input-group-prepend">  
                          <button id="button-addon8" type="submit" class="btn btn-danger"> <i class="fa fa-search"> </i> </button>  
                        </div>  
                        <input type="search" placeholder="Search here..." aria-describedby="button-addon8" class="form-control">  
                      </div> 
                </div>
            </div>
        </div>
    </div>
    
    <!-- Filter and Categories -->
    <div class="card" style="margin-top: 1rem;">
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 col-md-6 col-lg-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem tenetur vitae error dolorum natus velit numquam sint. Fuga officiis corporis amet minus autem quibusdam quaerat adipisci dolore natus ex.</p>
                    </div>
                    <div class="col-sm-3 col-md-6 col-lg-8">
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit doloremque, ad ipsa nisi consectetur error animi neque perferendis quo quia necessitatibus perspiciatis numquam rerum itaque ipsam, modi nam maiores voluptate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
