.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card1 {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.insideContent {
    opacity: 0.6;
    color: black;
    background-color: #dbdbdb;
    border-radius: 6px;
    position: absolute;
    padding: 3px;
    top: 10rem;
    right: 85px;
}