/* You can add global styles to this file, and also import other style files */


nav.navbar {
    background: #ff0000;
    padding: 0.8rem 1.5rem;
    a{
        color: #ffffff;
    }
    li{
        a{
            color: #ffffff;
        }
    }
}

.main__content{
    height: Calc(100vh - 56px);
    margin-top: 56px;
    padding: 1.5rem;
    span.input-group-text {
        background: #fff;
        border-right: 0;
        
    }
    .form-control{
        padding: .5rem;
    }
    .apply__filter {
        display: flex;
        column-gap: 20px;
        h6{
            font-size: 15px;
        }
        ul{
            li{
                display: inline-block;
                background: #f0f0f0;
                border-radius: 5px;
                color: #aaaaac;
                padding: .2rem .5rem;
                margin-right: .8rem;
                font-size: 13px;
                cursor: pointer;
                span{
                    color: #aaaaac;  
                    padding: 0 0 0 .5rem;
                }
            }
        }
    }

    .left__panel {
        background: #ffffff;
        padding: 1.5rem;
        border-radius: 5px;
        height: Calc(100vh - 240px);
        box-shadow: 0px 0px 20px 10px rgba(203, 213, 223, 0.25);
        margin: 1rem 0 0;
        h6{
            font-size: 18px;
        }
        label{
            border-radius: 8px;
            position: relative;
            width: 100%;
            .categories__item__details {
                border: 1px solid rgba(211, 210, 210, 1);
                border-radius: 8px;
                cursor: pointer;
                padding: 1rem;
                transition: border-color 0.2s ease-out;
                margin: 0 0 1.5rem;
            }
            @supports (-webkit-appearance: none) or (-moz-appearance: none) {
                .radio_custom {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    outline: none;
                    transition: background 0.2s ease-out, border-color 0.2s ease-out;
                    position: absolute;
                    right: 10px;
                    top: 19px;
                    &::after {
                        content: "";
                        display: block;
                        left: 4px;
                        position: absolute;
                        top: 4px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    &:checked::after {
                        background: rgba(7, 116, 248, 1);
                        border-color: rgba(65, 116, 231, 1);
                    }
                }
            }
        }

    }
    .right__panel{
        .tittle_head{
            font-size: 18px;
        }
        button.btn.btn-danger {
            padding: .3rem 1.5rem;
        }
        .card{
            border-radius: 8px 8px 0 0 ;
            margin-bottom: 1.5rem;
            .card__head{
                position: relative;
                img{
                    border-radius: 8px 8px 0 0 ;
                    width: 100%;
                }
                .stock_section {
                    position: absolute;
                    bottom: 10px;
                    background: rgba(163, 159, 159, 0.8);
                    border-radius: 5px;
                    padding: 0.1rem 1rem;
                    font-size: 12px;
                    left: 10px;
                    li{
                        &:first-child{
                            color: #000000;
                        }
                    }
                }
            }
           
            h5{
                font-size: 16px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
            }
            .card-footer{
                background: #ffffff;
                p{
                    color: #807777;
                    span{
                        color: #000;
                        font-weight: bold;
                    }
                }
            }
        }


    }

}

.sorting__section {
    position: fixed;
    right: 0;
    z-index: 9999;
    top: 0;
    height: 100vh;
    width: 100%;
    -webkit-animation: fadeInRight 1.5s;
    animation: fadeInRight 1.5s;
    .sorting__panel{
        background: #ffffff;
        z-index: 9999;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 400px;
        padding: 1rem;
        .sorting__head{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid;

        }
        .sorting__body{
            margin-top: 1rem;
            h6{
                font-size:15px;
                font-weight: bold;
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 1rem;
                    button{
                        padding: .2rem .8rem;
                        font-size: 13px;
                    }
                }
            }
        }
        .sorting__footer{
            position: absolute;
            bottom: 20px;
            text-align: center;
            width: 100%;
        }
    }
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: rgba(220, 218, 218, 0.76);
        width: 100%;
        height: 100%;
        z-index: 99;
    }
}


@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}